@font-face {
	font-family: 'Kelson Sans';
	src: url('KelsonSans-Bold.eot');
	src: url('KelsonSans-Bold.eot?#iefix') format('embedded-opentype'),
		url('KelsonSans-Bold.woff') format('woff'),
		url('KelsonSans-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Nexa';
	src: url('NexaBold.eot');
	src: url('NexaBold.eot?#iefix') format('embedded-opentype'),
		url('NexaBold.woff') format('woff'),
		url('NexaBold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Nexa';
	src: url('NexaLight.eot');
	src: url('NexaLight.eot?#iefix') format('embedded-opentype'),
		url('NexaLight.woff') format('woff'),
		url('NexaLight.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Kelson Sans';
	src: url('KelsonSans-Light.eot');
	src: url('KelsonSans-Light.eot?#iefix') format('embedded-opentype'),
		url('KelsonSans-Light.woff') format('woff'),
		url('KelsonSans-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Kelson Sans';
	src: url('KelsonSans-Regular.eot');
	src: url('KelsonSans-Regular.eot?#iefix') format('embedded-opentype'),
		url('KelsonSans-Regular.woff') format('woff'),
		url('KelsonSans-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('Raleway.ttf');
	src: url('Raleway.ttf?#iefix') format('embedded-opentype'),
		url('Raleway.ttf') format('ttf'),
		url('Raleway.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}